<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand card-title" href="/urls">TinyApp</a> 
    <div class="disabled" style="color: #e3f2fd;">Logged in as: <%= user.email %>!</div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <% if (!user) { %>
        <div class="navbar-nav mr-right">
          <a class="nav-item nav-link" href="register">Register</a>
          <a class="nav-item nav-link" href="login">Login</a>
        </div>
        <% } else { %>
          <div class="navbar-nav mr-right">
            <form action="/logout" method="post" class="form-inline">
              <button class="btn btn-primary mr-sm-2">Logout</button>
          </form>
          </div>
        <% } %> 
    </div>
  </nav>
</header>